@model IEnumerable<Order>

@{
    ViewBag.Title = "Zamówienia";
    Layout = "_AdminLayout";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>ID produktu</th>
        <th>Produkt</th>
        <th>wartosc</th>
        <th>Ilość</th>
        <th>Sklep</th>
        <th>Zamowienie</th>
    </tr>


@if (Model.Count() > 0)
{
    
        
        @foreach (var o in Model)
        {
            <tr>
                <th scope="row">@o.ProductId</th>
                <td>@o.Product.Name</td>         
                <th>@o.TotalPrice</th>       
                <th>@o.Quantity</th>
                <th>@o.Shop.Name</th>
                <th>@o.OrderId</th>
               
                
            </tr>
            
        }
    
}
else
{
    <div class="text-center">Brak niezrealizowanych zamówień</div>
}
</table>
